#{$all-buttons} {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: $action-color;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Arsenal', sans-serif;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;git chec
  text-decoration: none;
  -webkit-transition: background-color $base-duration $base-timing;
  transition: background-color $base-duration $base-timing;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
