ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  margin: 5px;
}

dd {
  margin: 0;
}

ol {
  margin: 0;
  padding: 0;
  li {
    font-family: "Fira Mono";
    margin-left: 3em;
  }
}