body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: $small-spacing 0;
}

hr {
  @include border-width(null null 1px null);
  margin: 1em 0;
}

/* Typography bitters */
h1 {
  font-size: modular-scale(3, 2em);
  font-family: 'england_hand_dbregular';
}
h2 {
  font-size: modular-scale(2);
}

h3 {
  font-size: modular-scale(1);
}

h4 {
  font-size: modular-scale(0);
  font-family: "Fira Sans Reg";
}

h5 {
  font-size: modular-scale(-1);
}

h6 {
  font-size: .7em;
}
