$mobile:  600px;
$tablet:  992px;
$timeline: 1000px;
$desktop: 1024px;

$base-font-family:    $font-stack-orkney;
$heading-font-family: $font-stack-consolas;

$base-font-size: 18;
$em-base:        $base-font-size;
$small-base-font: 1em;

@function em($px, $base: $base-font-size){
  @return #{$px / $base}em;
}

$base-line-height:    1.5;
$heading-line-height: 1.2;

$base-border-radius: 3px;
$base-spacing:       $base-line-height * 1em;
$small-spacing:      $base-spacing / 2;
$base-z-index:       0;

$blue:        #1565c0;
$dark-gray:   #333;
$medium-gray: #999;
$light-gray:  #ddd;


$base-font-color: $dark-gray;
$action-color:    $blue;


$base-border-color: $light-gray;
$base-border:       1px solid $base-border-color;


$base-background-color:      #fff;
$secondary-background-color: tint($base-border-color, 75%);


$form-box-shadow:       inset 0 1px 3px rgba(#000, 0.6);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);


$base-duration: 150ms;
$base-timing:   ease;
$base-transitions: all 150ms ease;
