{
  "name": "code4",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/sass/main.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "assets/css/main.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"assets/css/main.min.css\",\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"dist-\"}"
    },
    {
      "path": "assets/less/_colors.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "assets/css/2-basics/_font.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":\"dist-\"}"
    },
    {
      "path": "assets/js/functions.min.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/sass",
      "assets/css/1-tools",
      "assets/js",
      "assets/css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/sass/main.sass",
      "imports": [
        "assets/sass/_variables.sass",
        "assets/sass/_mixins.sass",
        "assets/sass/1-tools/_tools-dir.sass",
        "assets/sass/2-basics/_basics-dir.sass",
        "assets/sass/3-modules/_modules-dir.sass",
        "assets/sass/4-layout/_layout-dir.sass",
        "assets/sass/5-pages/_pages-dir.sass",
        "assets/sass/1-tools/bourbon/_bourbon.scss",
        "assets/sass/1-tools/base/_base.scss",
        "assets/sass/1-tools/neat/_neat.scss",
        "assets/sass/2-basics/_functions.scss",
        "assets/sass/2-basics/_body.sass",
        "assets/sass/2-basics/_links.sass",
        "assets/sass/2-basics/_common.sass",
        "assets/sass/2-basics/_nav-list.sass",
        "assets/sass/2-basics/_fonts.scss",
        "assets/sass/3-modules/_headers.sass",
        "assets/sass/3-modules/_nav-grid.sass",
        "assets/sass/3-modules/_ancestry.sass",
        "assets/sass/3-modules/_reuse.sass",
        "assets/sass/3-modules/_article.sass",
        "assets/sass/3-modules/_lists.sass",
        "assets/sass/3-modules/_paginate.sass",
        "assets/sass/3-modules/_admin-table.sass",
        "assets/sass/3-modules/_button.sass",
        "assets/sass/4-layout/_containers.sass",
        "assets/sass/4-layout/_footer.sass",
        "assets/sass/5-pages/_bosdna.sass",
        "assets/sass/1-tools/bourbon/bourbon/helpers/_buttons-list.scss",
        "assets/sass/1-tools/bourbon/bourbon/helpers/_scales.scss",
        "assets/sass/1-tools/bourbon/bourbon/helpers/_text-inputs-list.scss",
        "assets/sass/1-tools/bourbon/bourbon/settings/_settings.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_contains.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_contains-falsy.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_is-color.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_is-length.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_is-number.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_is-size.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_assign-inputs.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_compact-shorthand.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_directional-property.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_font-source-declaration.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_gamma.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_lightness.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_contrast-ratio.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_retrieve-bourbon-setting.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_unpack-shorthand.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_border-color.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_border-radius.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_border-style.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_border-width.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_buttons.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_clearfix.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_contrast-switch.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_ellipsis.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_font-face.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_font-stacks.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_hide-text.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_hide-visually.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_margin.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_modular-scale.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_overflow-wrap.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_padding.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_position.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_prefixer.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_shade.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_size.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_strip-unit.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_text-inputs.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_timing-functions.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_tint.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_triangle.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_value-prefixer.scss",
        "assets/sass/1-tools/base/_variables.scss",
        "assets/sass/1-tools/base/_buttons.scss",
        "assets/sass/1-tools/base/_forms.scss",
        "assets/sass/1-tools/base/_layout.scss",
        "assets/sass/1-tools/base/_lists.scss",
        "assets/sass/1-tools/base/_media.scss",
        "assets/sass/1-tools/base/_tables.scss",
        "assets/sass/1-tools/base/_typography.scss",
        "assets/sass/1-tools/neat/_neat-helpers.scss",
        "assets/sass/1-tools/neat/grid/_private.scss",
        "assets/sass/1-tools/neat/grid/_box-sizing.scss",
        "assets/sass/1-tools/neat/grid/_omega.scss",
        "assets/sass/1-tools/neat/grid/_outer-container.scss",
        "assets/sass/1-tools/neat/grid/_span-columns.scss",
        "assets/sass/1-tools/neat/grid/_row.scss",
        "assets/sass/1-tools/neat/grid/_shift.scss",
        "assets/sass/1-tools/neat/grid/_pad.scss",
        "assets/sass/1-tools/neat/grid/_fill-parent.scss",
        "assets/sass/1-tools/neat/grid/_media.scss",
        "assets/sass/1-tools/neat/grid/_to-deprecate.scss",
        "assets/sass/1-tools/neat/grid/_visual-grid.scss",
        "assets/sass/1-tools/neat/grid/_display-context.scss",
        "assets/sass/1-tools/neat/grid/_direction-context.scss",
        "assets/sass/1-tools/neat/mixins/_clearfix.scss",
        "assets/sass/1-tools/neat/functions/_private.scss",
        "assets/sass/1-tools/neat/functions/_new-breakpoint.scss",
        "assets/sass/1-tools/neat/settings/_grid.scss",
        "assets/sass/1-tools/neat/settings/_visual-grid.scss",
        "assets/sass/1-tools/neat/settings/_disable-warnings.scss"
      ]
    },
    {
      "path": "assets/sass/1-tools/_tools-dir.sass",
      "imports": [
        "assets/sass/1-tools/bourbon/_bourbon.scss",
        "assets/sass/1-tools/base/_base.scss",
        "assets/sass/1-tools/neat/_neat.scss",
        "assets/sass/1-tools/bourbon/bourbon/helpers/_buttons-list.scss",
        "assets/sass/1-tools/bourbon/bourbon/helpers/_scales.scss",
        "assets/sass/1-tools/bourbon/bourbon/helpers/_text-inputs-list.scss",
        "assets/sass/1-tools/bourbon/bourbon/settings/_settings.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_contains.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_contains-falsy.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_is-color.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_is-length.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_is-number.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_is-size.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_assign-inputs.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_compact-shorthand.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_directional-property.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_font-source-declaration.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_gamma.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_lightness.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_contrast-ratio.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_retrieve-bourbon-setting.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_unpack-shorthand.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_border-color.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_border-radius.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_border-style.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_border-width.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_buttons.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_clearfix.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_contrast-switch.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_ellipsis.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_font-face.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_font-stacks.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_hide-text.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_hide-visually.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_margin.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_modular-scale.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_overflow-wrap.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_padding.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_position.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_prefixer.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_shade.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_size.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_strip-unit.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_text-inputs.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_timing-functions.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_tint.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_triangle.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_value-prefixer.scss",
        "assets/sass/1-tools/base/_variables.scss",
        "assets/sass/1-tools/base/_buttons.scss",
        "assets/sass/1-tools/base/_forms.scss",
        "assets/sass/1-tools/base/_layout.scss",
        "assets/sass/1-tools/base/_lists.scss",
        "assets/sass/1-tools/base/_media.scss",
        "assets/sass/1-tools/base/_tables.scss",
        "assets/sass/1-tools/base/_typography.scss",
        "assets/sass/1-tools/neat/_neat-helpers.scss",
        "assets/sass/1-tools/neat/grid/_private.scss",
        "assets/sass/1-tools/neat/grid/_box-sizing.scss",
        "assets/sass/1-tools/neat/grid/_omega.scss",
        "assets/sass/1-tools/neat/grid/_outer-container.scss",
        "assets/sass/1-tools/neat/grid/_span-columns.scss",
        "assets/sass/1-tools/neat/grid/_row.scss",
        "assets/sass/1-tools/neat/grid/_shift.scss",
        "assets/sass/1-tools/neat/grid/_pad.scss",
        "assets/sass/1-tools/neat/grid/_fill-parent.scss",
        "assets/sass/1-tools/neat/grid/_media.scss",
        "assets/sass/1-tools/neat/grid/_to-deprecate.scss",
        "assets/sass/1-tools/neat/grid/_visual-grid.scss",
        "assets/sass/1-tools/neat/grid/_display-context.scss",
        "assets/sass/1-tools/neat/grid/_direction-context.scss",
        "assets/sass/1-tools/neat/mixins/_clearfix.scss",
        "assets/sass/1-tools/neat/functions/_private.scss",
        "assets/sass/1-tools/neat/functions/_new-breakpoint.scss",
        "assets/sass/1-tools/neat/settings/_grid.scss",
        "assets/sass/1-tools/neat/settings/_visual-grid.scss",
        "assets/sass/1-tools/neat/settings/_disable-warnings.scss"
      ]
    },
    {
      "path": "assets/sass/2-basics/_basics-dir.sass",
      "imports": [
        "assets/sass/2-basics/_functions.scss",
        "assets/sass/2-basics/_body.sass",
        "assets/sass/2-basics/_links.sass",
        "assets/sass/2-basics/_common.sass",
        "assets/sass/2-basics/_nav-list.sass",
        "assets/sass/2-basics/_fonts.scss"
      ]
    },
    {
      "path": "assets/sass/3-modules/_modules-dir.sass",
      "imports": [
        "assets/sass/3-modules/_headers.sass",
        "assets/sass/3-modules/_nav-grid.sass",
        "assets/sass/3-modules/_ancestry.sass",
        "assets/sass/3-modules/_reuse.sass",
        "assets/sass/3-modules/_article.sass",
        "assets/sass/3-modules/_lists.sass",
        "assets/sass/3-modules/_paginate.sass",
        "assets/sass/3-modules/_admin-table.sass",
        "assets/sass/3-modules/_button.sass"
      ]
    },
    {
      "path": "assets/sass/4-layout/_layout-dir.sass",
      "imports": [
        "assets/sass/4-layout/_containers.sass",
        "assets/sass/4-layout/_footer.sass"
      ]
    },
    {
      "path": "assets/sass/5-pages/_pages-dir.sass",
      "imports": [
        "assets/sass/5-pages/_bosdna.sass"
      ]
    },
    {
      "path": "assets/sass/1-tools/base/_base.scss",
      "imports": [
        "assets/sass/1-tools/base/_variables.scss",
        "assets/sass/1-tools/base/_buttons.scss",
        "assets/sass/1-tools/base/_forms.scss",
        "assets/sass/1-tools/base/_layout.scss",
        "assets/sass/1-tools/base/_lists.scss",
        "assets/sass/1-tools/base/_media.scss",
        "assets/sass/1-tools/base/_tables.scss",
        "assets/sass/1-tools/base/_typography.scss"
      ]
    },
    {
      "path": "assets/sass/1-tools/bourbon/_bourbon.scss",
      "imports": [
        "assets/sass/1-tools/bourbon/bourbon/helpers/_buttons-list.scss",
        "assets/sass/1-tools/bourbon/bourbon/helpers/_scales.scss",
        "assets/sass/1-tools/bourbon/bourbon/helpers/_text-inputs-list.scss",
        "assets/sass/1-tools/bourbon/bourbon/settings/_settings.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_contains.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_contains-falsy.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_is-color.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_is-length.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_is-number.scss",
        "assets/sass/1-tools/bourbon/bourbon/validators/_is-size.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_assign-inputs.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_compact-shorthand.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_directional-property.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_font-source-declaration.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_gamma.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_lightness.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_contrast-ratio.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_retrieve-bourbon-setting.scss",
        "assets/sass/1-tools/bourbon/bourbon/utilities/_unpack-shorthand.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_border-color.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_border-radius.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_border-style.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_border-width.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_buttons.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_clearfix.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_contrast-switch.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_ellipsis.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_font-face.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_font-stacks.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_hide-text.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_hide-visually.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_margin.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_modular-scale.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_overflow-wrap.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_padding.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_position.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_prefixer.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_shade.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_size.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_strip-unit.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_text-inputs.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_timing-functions.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_tint.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_triangle.scss",
        "assets/sass/1-tools/bourbon/bourbon/library/_value-prefixer.scss"
      ]
    },
    {
      "path": "assets/sass/1-tools/neat/_neat-helpers.scss",
      "imports": [
        "assets/sass/1-tools/neat/mixins/_clearfix.scss",
        "assets/sass/1-tools/neat/functions/_private.scss",
        "assets/sass/1-tools/neat/functions/_new-breakpoint.scss",
        "assets/sass/1-tools/neat/settings/_grid.scss",
        "assets/sass/1-tools/neat/settings/_visual-grid.scss",
        "assets/sass/1-tools/neat/settings/_disable-warnings.scss"
      ]
    },
    {
      "path": "assets/sass/1-tools/neat/_neat.scss",
      "imports": [
        "assets/sass/1-tools/neat/_neat-helpers.scss",
        "assets/sass/1-tools/neat/grid/_private.scss",
        "assets/sass/1-tools/neat/grid/_box-sizing.scss",
        "assets/sass/1-tools/neat/grid/_omega.scss",
        "assets/sass/1-tools/neat/grid/_outer-container.scss",
        "assets/sass/1-tools/neat/grid/_span-columns.scss",
        "assets/sass/1-tools/neat/grid/_row.scss",
        "assets/sass/1-tools/neat/grid/_shift.scss",
        "assets/sass/1-tools/neat/grid/_pad.scss",
        "assets/sass/1-tools/neat/grid/_fill-parent.scss",
        "assets/sass/1-tools/neat/grid/_media.scss",
        "assets/sass/1-tools/neat/grid/_to-deprecate.scss",
        "assets/sass/1-tools/neat/grid/_visual-grid.scss",
        "assets/sass/1-tools/neat/grid/_display-context.scss",
        "assets/sass/1-tools/neat/grid/_direction-context.scss",
        "assets/sass/1-tools/neat/mixins/_clearfix.scss",
        "assets/sass/1-tools/neat/functions/_private.scss",
        "assets/sass/1-tools/neat/functions/_new-breakpoint.scss",
        "assets/sass/1-tools/neat/settings/_grid.scss",
        "assets/sass/1-tools/neat/settings/_visual-grid.scss",
        "assets/sass/1-tools/neat/settings/_disable-warnings.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7882,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://localhost/code4"
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"ruby-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":false}}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"outputSuffix\":\"dist-\"}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}