// out: ../dist/typo-dist.css, sourcemap: true, compress: true
@import (less) url("colors.less");
@import (less) url("../../node_modules/open-color/open-color.less");
h1 {
  font-size: 3.3rem;
  /*40px 50rem*/
  margin: 0.8em 0;
  line-height: 1.35;
  font-weight: 900;
  font-family: "air_conditionerregular";
}

h2 {
  font-size: 2.3rem;
  margin: 1em 0;
  line-height: 1.45;
  color: gray;
  font-weight: 800;
}

h3 {
  font-size: 1.85rem;
  margin: 0.5em 0;
  line-height: 1.6;
  font-weight: 700;
  font-variant-caps: small-caps;
}

h4 {
  font-size: 1.55rem;
  margin: 0.8em 0;
  line-height: 1.7;
  font-weight: 700;
}

h5 {
  font-size: 1.4rem;
  margin: 1.6em 0;
  line-height: 1.6;
  font-weight: 600;
}

h6 {
  font-size: 1.10rem;
  margin: 1.6em 0;
  line-height: 1.6;
  font-weight: 500;
}

p {
  line-height: 1.6;
  .sidenotes {
    font-size: 0.8em;
  }
}

b, strong {
  font-weight: bold;
}

.bold {
  font-weight: 700;
}

dt {
  margin: .5em 0;
}

dfn {
  font-style: italic;
}

mark {
  background: @grapep;
  color: #000000;
  font-family: "bornregular";
}

.small {
  font-size: 0.75em;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-height: 100%;
  max-width: 100%;
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  background-color: #1098ad;
  height: auto;
  margin: 0;
  padding: 5px;
  width: 374px;
}
.introbox {
  clear: right;
  float: left;
  height: auto;
  margin: 0 10px 0 0;
  padding: 0;
  text-align: center;
  width: 370px;
}

figcaption {
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

blockquote {
  margin-left: 1rem;
}

.mid-size {
  font-size: 2em;
  font-weight: 600;
}

.error {
  color: white;
  background: tomato;
  font-size: 1.15em;
  border-radius: 5px;
}

.center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.centered {
  text-align: center;
}
td {
  padding: 0.5em;
  word-wrap: break-word;
  word-break: break-all;
}
th {
  text-align: center;
}

.line {
  display: inline;
}

.left {
  justify-content: flex-start;
  width: 100%;
  margin: 0;
}
.right {
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
  width: 100%;
}
//-------------------------------------------------------- fonts
.air {
  font-family: "air_conditionerregular";
}

.bitter {
  font-family: "bittersweet_nfregular";
}

.england {
  font-family: "england_hand_dbregular";
}

.hallo {
  font-family: "hallo_sansregular";
}

.soria {
  font-family: soriasoria;
}

.tangle {
  font-family: "tanglewood_tales_nfregular";
}

li {
  list-style: none;
  padding: 5px 0;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.pagination {
  font-size: 1.5em;
}

.grab {
  width: 110px;
  transition: all 0.25s ease-in;
  background-color: transparent;
  border-radius: 5px;
  display: inline;
}

.grab:hover {
  background-color: @oc-green-3;
  box-shadow: 1px 1px 4px @sidebar;
  border-radius: 10px;
}

.current {
  background-color: @oc-cyan-2;
  color: @oc-green-9;
}

input[type="text"] {
  min-width: 45%;
}
.opa { //open posts
  opacity: 0.5;
  display: inline;
}
