@charset "UTF-8"

/* 3-modules ancestry */

.ancestry
	margin: 2em 1em

	&--container
		border: 1px dotted orange
		
	
	&--ancestryTitle
		font-weight: 200


	&--ancestryContent
		padding: .5em


	&--block
		padding: .5em


	&--ancestryDate
		font-weight: 200
		
		+center(flex-end, flex-end)