@charset "UTF-8"

/* 3-modules ancestry */

.ancestry
	margin: 2em 1em

	&--container
		+border(1px, dotted, orange, 10px )


	&--ancestryTitle
		font-weight: 400
		font-family: soriasoria
		letter-spacing: 2px 


	&--ancestryContent
		padding: .5em


	&--block
		padding: .5em


	&--ancestryDate
		font-weight: 200
		float: right
