@charset "UTF-8"

/* main top header */
.m-main
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	width: 80%
	margin: 0 auto
	-ms-flex-wrap: wrap
	flex-wrap: wrap
	height: 12em

	+center(center, center)

	+tablet
		height: 10em

		+center(center, flex-end)


	+mobile
		height: 10em

		+center(center, flex-end)


	&--head
		font-family: $font-stack-consolas

		+tablet
			font-size: $base-font-size * 3

			h1
				margin-bottom: 0

		+mobile
			font-size: $base-font-size * 2

			h1
				margin-bottom: 0
