@charset "UTF-8"

// lower nav grif
.nav-grid
  -webkit-box-flex: 1
  -ms-flex: 1
  flex: 1

.box1
  @extend .nav-grid

.box2
  @extend .nav-grid

//left side nav

.m-left-nav
  display:flex

  flex-direction: column

  &--heading
    text-align: center

  &--content
    padding: 5px

//lower footer navigation

.footwrapper
  flex-direction: row
  display: flex
  align-items: stretch
  flex-wrap: wrap
  justify-content: flex-end

.m-nav-grid
  flex: 1

  &--title
    text-align: center
    text-shadow: 1px 1px 1px $border-shadow
    color: red

    +tablet
      text-align: left


    +mobile
      text-align: left

  &--center
    flex-direction: column
    display: flex
    padding-left: 20%

    +tablet
      padding-left: 5px
      font-size: 0.85rem


    +mobile
      padding-left: 5px
      font-size: 0.85rem

  &--listpad
    padding: 3px


  .small

  color: $bottom-list-color

.box20
  color: $red1
