@charset "UTF-8"

// for all submit buttons
.triangle
	+triangle(right, tomato, 10px)

.small
	font-size: .75em
	line-height: 1.38

.not-bold
	font-family: "Fira Sans Reg"
	font-weight: 400

.fifty
	width: 2%

.centered
	+center(center, center)

a.opac
	opacity: .5
	background: none
	text-decoration: none
