@charset "UTF-8"

/*DO ME
//bottom footer
#bottom
  background: $footer
  padding: 10px
  margin: 0 auto
  width: 80%
  min-height: 13em

  h4
    font-size: 1.5em

    +tablet
      font-size: 1.3em

    +mobile
      font-size: 1.3em

  a
    color: $bottom-list-color

  a:hover
    background-color: #6781B2
    color: $bottom-list-hover

  +tablet
    width: 100%
    margin: 0

  +mobile
    width: 100%
    margin: 0
