@charset "UTF-8"


//bottom footer
#bottom
  margin: 0 auto
  width: 80%
  min-height: 13em
  padding: 10px
  background: $footer

  h4
    font-size: 1.5em

    +tablet
      font-size: 1.3em

    +mobile
      font-size: 1.3em

  a
    color: $bottom-list-color

  a:hover
    background-color: #6781B2
    color: $bottom-list-hover

  +tablet
    margin: 0
    width: 100%

  +mobile
    margin: 0
    width: 100%
