@charset "UTF-8"

/* basic links
$backer: #403B31
$linkera: #ffedc6

a
  color: $link
  text-decoration: none
  transition: $base-duration, $base-timing
  font-family: "Arsenal", sans-serif
  font-size: 1.2em

  &:visited
    color: $visited

  &:hover
    color: $hover
    text-decoration: underline
    background: $ltgreen
    font-style: italic

  &:active
    color: $active
