 Hugh Bostock (1045 - 1112)<br>
 28th great-grandfather<br>
 Richard de Bostock (1075 - 1120)<br>
 son of Hugh Bostock<br>
 Roger Bostock (1105 - 1166)<br>
 son of Richard de Bostock<br>
 Lord Gilbert Adam de Bostock (1130 - 1194)<br>
 son of Roger Bostock<br>
 Randulph Bostock (1155 - 1222)<br>
 son of Lord Gilbert Adam de Bostock<br>
 Sir Warin de Bostock (1180 - 1206)<br>
 son of Randulph Bostock<br>
 Sir Henry Gilbert de Bostock (1205 - 1309)<br>
 son of Sir Warin de Bostock<br>
 Sir William de Bostock (1225 - 1309)<br>
 son of Sir Henry Gilbert de Bostock<br>
 Sir Phillip Edward de Bostock (1245 - 1288)<br>
 son of Sir William de Bostock<br>
 Sir Adam de Bostock (1270 - 1342)<br>
 son of Sir Phillip Edward de Bostock<br>
 Sir William de Bostock (1310 - 1372)<br>
 son of Sir Adam de Bostock<br>
 Sir Adam Bostock (1340 - 1374)<br>
 son of Sir William de Bostock<br>
 Adam Bostock (1363 - 1415)<br>
 son of Sir Adam Bostock<br>
 Ralph Bostock (1392 - 1427)<br>
 son of Adam Bostock<br>
 Sir Adam De Bostock (1412 - 1459)<br>
 son of Ralph Bostock<br>
 William Bostock (1459 - 1505)<br>
 son of Sir Adam De Bostock<br>
 George Bostock (1505 - 1535)<br>
 son of William Bostock<br>
 Robert De Bostock (1535 - 1583)<br>
 son of George Bostock<br>
 Arthur Bostick (1559 - 1632)<br>
 son of Robert De Bostock<br>
 William Arthur Bostwick (1603 - 1680)<br>
 son of Arthur Bostick<br>
 John Bostwick (1638 - 1688)<br>
 son of William Arthur Bostwick<br>
 Joseph Bostwick (1672 - 1726)<br>
 son of John Bostwick<br>
 Abraham Bostwick (1702 - 1776)<br>
 son of Joseph Bostwick<br>
 Joseph Bostwick (1735 - 1800)<br>
 son of Abraham Bostwick<br>
 Austin Bostwick (1766 - 1844)<br>
 son of Joseph Bostwick<br>
 Samuel Bostick (1795 - 1799)<br>
 son of Austin Bostwick<br>
 Austin Bostick (1817 - 1888)<br>
 son of Samuel Bostick<br>
 Alonzo A. Bostick (1841 - 1920)<br>
 son of Austin Bostick<br>
 Andrew Madison Bostick (1876 - 1941)<br>
 son of Alonzo A. Bostick<br>
 Shirley Jean Bostick (1927 - 2010)<br>
 daughter of Andrew Madison Bostick<br>
