Thomas Eames (1548 - 1618)<br>
11th great-grandfather<br>
Capt. Anthony Eames (1595 - 1686)<br>
son of Thomas Eames<br>
Persis Eames (1621 - 1662)<br>
daughter of Capt. Anthony Eames<br>
Abigail Pierce (1646 - 1723)<br>
daughter of Persis Eames<br>
Elizabeth Holbrook (1673 - 1773)<br>
daughter of Abigail Pierce<br>
Ebenezer Smith Deacon (1694 - 1777)<br>
son of Elizabeth Holbrook<br>
Rhoda SMITH (1743 - 1795)<br>
daughter of Ebenezer Smith Deacon<br>
Horace Melancton Hillyer (1767 - 1813)<br>
son of Rhoda SMITH<br>
Shaler Justin Hillyer (1799 - 1865)<br>
son of Horace Melancton Hillyer<br>
Eunice Catharine Hillyer (1839 - 1908)<br>
daughter of Shaler Justin Hillyer<br>
Alice A. Clay (1860 - )<br>
daughter of Eunice Catharine Hillyer<br>
Daisy Laretta Hunt (1887 - 1962)<br>
daughter of Alice A. Clay<br>
Donald Eugene VanHorn (1923 - 2014)<br>
son of Daisy Laretta Hunt<br>
