George Fry (1582 - 1676)<br>
10th great-grandfather<br>
George Frye (1616 - 1678)<br>
son of George Fry<br>
Ruth Frye (1650 - 1724)<br>
daughter of George Frye<br>
JAMES SMITH (1668 - 1744)<br>
son of Ruth Frye<br>
Ebenezer Smith Deacon (1694 - 1777)<br>
son of JAMES SMITH<br>
Rhoda SMITH (1743 - 1795)<br>
daughter of Ebenezer Smith Deacon<br>
Horace Melancton Hillyer (1767 - 1813)<br>
son of Rhoda SMITH<br>
Shaler Justin Hillyer (1799 - 1865)<br>
son of Horace Melancton Hillyer<br>
Eunice Catharine Hillyer (1839 - 1908)<br>
daughter of Shaler Justin Hillyer<br>
Alice A. Clay (1860 - )<br>
daughter of Eunice Catharine Hillyer<br>
Daisy Laretta Hunt (1887 - 1962)<br>
daughter of Alice A. Clay<br>
Donald Eugene VanHorn (1923 - 2014)<br>
son of Daisy Laretta Hunt
