Thomas Ferguson (1558 - )<br>
11th great-grandfather<br>
Thomas Ferguson (1558 - 1665)<br>
son of Thomas Ferguson<br>
Elizabeth Ferguson (1617 - 1679)<br>
daughter of Thomas Ferguson<br>
Nathaniel Holcomb (1648 - 1740)<br>
son of Elizabeth Ferguson<br>
Nathaniel Holcombe (1673 - 1766)<br>
son of Nathaniel Holcomb<br>
Deacon Judah Holcomb (1705 - 1802)<br>
son of Nathaniel Holcombe<br>
Judah Holcomb (1746 - 1826)<br>
son of Deacon Judah Holcomb<br>
Anna Holcombe (1774 - 1847)<br>
daughter of Judah Holcomb<br>
Shaler Justin Hillyer (1799 - 1865)<br>
son of Anna Holcombe<br>
Eunice Catharine Hillyer (1839 - 1908)<br>
daughter of Shaler Justin Hillyer<br>
Alice A. Clay (1860 - )<br>
daughter of Eunice Catharine Hillyer<br>
Daisy Laretta Hunt (1887 - 1962)<br>
daughter of Alice A. Clay<br>
Donald Eugene VanHorn (1923 - 2014)<br>
son of Daisy Laretta Hunt<br>
