Thomas Gardner (1592 - 1674)<br>
10th great-grandfather<br>
George Gardner (1620 - 1679)<br>
son of Thomas Gardner<br>
Hannah Gardner (1644 - 1681)<br>
daughter of George Gardner<br>
Sgt David Buttolph (1669 - 1717)<br>
son of Hannah Gardner<br>
Hannah Buttolph (1711 - 1765)<br>
daughter of Sgt David Buttolph<br>
Judah Holcomb (1746 - 1826)<br>
son of Hannah Buttolph<br>
Anna Holcombe (1774 - 1847)<br>
daughter of Judah Holcomb<br>
Shaler Justin Hillyer (1799 - 1865)<br>
son of Anna Holcombe<br>
Eunice Catharine Hillyer (1839 - 1908)<br>
daughter of Shaler Justin Hillyer<br>
Alice A. Clay (1860 - )<br>
daughter of Eunice Catharine Hillyer<br>
Daisy Laretta Hunt (1887 - 1962)<br>
daughter of Alice A. Clay<br>
Donald Eugene VanHorn (1923 - 2014)<br>
son of Daisy Laretta Hunt<br>
