This is a stark reminder of how close this country still is to its Civil War.<br>
Jonathon Cummings Sholes died on the 3rd day of the Battle Of Gettysburg<br>
<br>
He was the brother of our mothers mother.
<br>
Jonathon Cummings Sholes (1841 - 1863)<br>
2nd great-uncle<br>
John Cummings Sholes (1793 - 1859)<br>
father of Jonathon Cummings Sholes<br>
Wealthy Sholes (1839 - 1924)<br>
daughter of John Cummings Sholes<br>
Goldie Grace Reed (1884 - 1957)<br>
daughter of Wealthy Sholes<br>
Shirley Jean Bostick (1927 - 2010)<br>
daughter of Goldie Grace Reed<br>
