Richard Osborne (1488 - 1544)<br>
14th great-grandfather<br>
Sir Knight Richard Osborn 11 (1510 - 1581)<br>
son of Richard Osborne<br>
Thomas Osborne (1542 - 1611)<br>
son of Sir Knight Richard Osborn 11<br>
Jeremy Osborn (1570 - 1620)<br>
son of Thomas Osborne<br>
Thomas Osborn (1594 - 1677)<br>
son of Jeremy Osborn<br>
Rebecca Osborne (1658 - 1743)<br>
daughter of Thomas Osborn<br>
Daniel TALMADGE (1693 - 1725)<br>
son of Rebecca Osborne<br>
Elizabeth Francis Messkers TALAMAGE (1724 - 1818)<br>
daughter of Daniel TALMADGE<br>
Michael Rorick (1749 - 1832)<br>
son of Elizabeth Francis Messkers TALAMAGE<br>
Gausper Rorick (1789 - 1869)<br>
son of Michael Rorick<br>
Casper Rorick (1748 - 1843)<br>
son of Gausper Rorick<br>
Catherine Rorick (1785 - 1845)<br>
daughter of Casper Rorick<br>
Amzy Clay (1828 - 1907)<br>
son of Catherine Rorick<br>
Alice A. Clay (1860 - )<br>
daughter of Amzy Clay<br>
Daisy Laretta Hunt (1887 - 1962)<br>
daughter of Alice A. Clay<br>
Donald Eugene VanHorn (1923 - 2014)<br>
son of Daisy Laretta Hunt<br>
<br>
