 Peter Pelton (1568 - 1594)<br>
 10th great-grandfather<br>
 Sir Charles Pelton (1590 - 1650)<br>
 son of Peter Pelton<br>
 John Pelton (1616 - 1680)<br>
 son of Sir Charles Pelton<br>
 Samuel Pelton (1646 - 1713)<br>
 son of John Pelton<br>
 Benjamin Pelton (1698 - 1775)<br>
 son of Samuel Pelton<br>
 Keziah Pelton (1722 - 1792)<br>
 daughter of Benjamin Pelton<br>
 Platt Pelton Smith (1755 - 1830)<br>
 son of Keziah Pelton<br>
 Mary Smith (1787 - 1855)<br>
 daughter of Platt Pelton Smith<br>
 Benjamin V VAN HORN (1807 - 1893)<br>
 son of Mary Smith<br>
 Benjamin Van Horn (1848 - 1922)<br>
 son of Benjamin V VAN HORN<br>
 William Benjamin Van Horn (1877 - 1957)<br>
 son of Benjamin Van Horn<br>
 Donald Eugene VanHorn (1923 - 2014)<br>
 son of William Benjamin Van Horn<br>
