Egbert King of England (755 - 839)<br>
34th great-grandfather<br>
Aethelwulf King of England (806 - 875)<br>
son of Egbert King of England<br>
Alfred &quot;The Great&quot; King of England (849 - 901)<br>
son of Aethelwulf King of England<br>
Eethelred DeRede (920 - 1000)<br>
son of Alfred &quot;The Great&quot; King of England<br>
Alfred &quot;the Shrew&quot; DeRede (955 - )<br>
son of Eethelred DeRede<br>
Eldred &quot;The Elder&quot; DeRede (980 - 1050)<br>
son of Alfred &quot;the Shrew&quot; DeRede<br>
Eethelred the second DeRede (1020 - 1050)<br>
son of Eldred &quot;The Elder&quot; DeRede<br>
William Eldred Elder DeRede (1050 - 1100)<br>
son of Eethelred the second DeRede<br>
Brianus DeRede (1100 - 1145)<br>
son of William Eldred Elder DeRede<br>
Brianus de Rede (1139 - 1176)<br>
son of Brianus DeRede<br>
Bishop William Rede (1173 - 1211)<br>
son of Brianus de Rede<br>
Robert Rede (1211 - 1240)<br>
son of Bishop William Rede<br>
Galfrinus Rede (1240 - 1264)<br>
son of Robert Rede<br>
Thomas Rede (1261 - 1283)<br>
son of Galfrinus Rede<br>
Thomas Reade (1278 - 1331)<br>
son of Thomas Rede<br>
John Reade (1304 - 1388)<br>
son of Thomas Reade<br>
William Reade (1330 - 1430)<br>
son of JOHN READE<br>
Thomas Reade (1356 - 1380)<br>
son of William Reade<br>
Richard Reade (1382 - 1408)<br>
son of Thomas READE<br>
John Reade (1408 - 1434)<br>
son of Richard Reade<br>
Thomas Reade (1434 - 1460)<br>
son of John Reade<br>
John Reade (1460 - 1503)<br>
son of Thomas Reade<br>
William Reade (1485 - 1534)<br>
son of John Reade<br>
Sir William Reade (1510 - 1542)<br>
son of William Reade<br>
William Read (1535 - 1566)<br>
son of Sir William Reade<br>
Sir William Cain Read (1565 - 1621)<br>
son of William Read<br>
William Read (1605 - 1669)<br>
son of Sir William Cain Read<br>
Josiah Reed (1643 - 1717)<br>
son of William Read<br>
William Read (1670 - 1736)<br>
son of Josiah Reed<br>
Daniel Reed (1714 - 1814)<br>
son of William Read<br>
Daniel Reed Jr. (1752 - 1840)<br>
son of Daniel Reed<br>
Ebenezer Reed (1774 - 1831)<br>
son of Daniel Reed Jr.<br>
Austin Brown Reed (1804 - 1852)<br>
son of Ebenezer Reed<br>
William Asa Reed (1829 - 1888)<br>
son of Austin Brown Reed<br>
Goldie Grace Reed (1884 - 1957)<br>
daughter of William Asa Reed<br>
Shirley Jean Bostick (1927 - 2010)<br>
daughter of Goldie Grace Reed<br>
