Robert PEASE (1485 - 1547)<br>
13th great-grandfather<br>
John &quot;the Smythe&quot; Pease Sr (1510 - 1556)<br>
son of Robert PEASE<br>
John &quot;The Clothier&quot; Pease (1540 - 1612)<br>
son of John &quot;the Smythe&quot; Pease Sr<br>
Robert &quot;the Locksmith&quot; Pease (1565 - 1623)<br>
son of John &quot;The Clothier&quot; Pease<br>
Robert Pease (1607 - 1644)<br>
son of Robert &quot;the Locksmith&quot; Pease<br>
John Pease Capt Sr (1632 - 1689)<br>
son of Robert Pease<br>
Capt John Pease (1654 - 1734)<br>
son of John Pease Capt Sr<br>
John Pease III (1678 - 1761)<br>
son of Capt John Pease<br>
ELIZABETH PEASE (1717 - 1768)<br>
daughter of John Pease III<br>
Daniel Reed Jr. (1752 - 1840)<br>
son of ELIZABETH PEASE<br>
Ebenezer Reed (1774 - 1831)<br>
son of Daniel Reed Jr.<br>
Austin Brown Reed (1804 - 1852)<br>
son of Ebenezer Reed<br>
William Asa Reed (1829 - 1888)<br>
son of Austin Brown Reed<br>
Goldie Grace Reed (1884 - 1957)<br>
daughter of William Asa Reed<br>
Shirley Jean Bostick (1927 - 2010)<br>
daughter of Goldie Grace Reed<br>
