William Talmadge 2nd (1525 - 1581)<br>
13th great-grandfather<br>
Henry Talmadge (1562 - 1586)<br>
son of William Talmadge 2nd<br>
Thomas Talmadge (1590 - 1653)<br>
son of Henry Talmadge<br>
Thomas Talmage (1617 - 1691)<br>
son of Thomas Talmadge<br>
Nathaniel Talmage (1643 - 1716)<br>
son of Thomas Talmage<br>
Daniel Talmadge (1693 - 1725)<br>
son of Nathaniel Talmage<br>
Elizabeth Francis Messkers Talmadge (1724 - 1818)<br>
daughter of Daniel Talmadge<br>
Michael Rorick (1749 - 1832)<br>
son of Elizabeth Francis Messkers Talmadge<br>
Gausper Rorick (1789 - 1869)<br>
son of Michael Rorick<br>
Casper Rorick (1748 - 1843)<br>
son of Gausper Rorick<br>
Catherine Rorick (1785 - 1845)<br>
daughter of Casper Rorick<br>
Amzy Clay (1828 - 1907)<br>
son of Catherine Rorick<br>
Alice A. Clay (1860 - )<br>
daughter of Amzy Clay<br>
Daisy Laretta Hunt (1887 - 1962)<br>
daughter of Alice A. Clay<br>
Donald Eugene VanHorn (1923 - 2014)<br>
son of Daisy Laretta Hunt
