Kostersen Van Eeken (1600 - 1664)<br>
10th great-grandfather<br>
Jan Coster VanAken (1629 - 1655)<br>
son of Kostersen Van Eeken<br>
Marinus VanAken (1655 - 1724)<br>
son of Jan Coster VanAken<br>
Sarah Van Aaken (1687 - 1730)<br>
daughter of Marinus VanAken<br>
Pieternella Westfall (1713 - 1776)<br>
daughter of Sarah Van Aaken<br>
Benjamin Schoonover (1741 - 1838)<br>
son of Pieternella Westfall<br>
Johanna Schoonover (1760 - 1813)<br>
daughter of Benjamin Schoonover<br>
Mary Smith (1787 - 1855)<br>
daughter of Johanna Schoonover<br>
Benjamin V Van Horn (1807 - 1893)<br>
son of Mary Smith<br>
Benjamin Van Horn (1848 - 1922)<br>
son of Benjamin V Van Horn<br>
William Benjamin Van Horn (1877 - 1957)<br>
son of Benjamin Van Horn<br>
Donald Eugene VanHorn (1923 - 2014)<br>
son of William Benjamin Van Horn
