Matthys Corneliussen (1640 - 1703)<br>
7th great-grandfather<br>
Abraham Matthysen VanHorn (1699 - 1759)<br>
son of Matthys Corneliussen<br>
Cornelius Abram Van Horn (1724 - 1784)<br>
son of Abraham Matthysen VanHorn<br>
Simeon Van Horn (1753 - 1821)<br>
son of Cornelius Abram Van Horn<br>
George Van Horn (1787 - )<br>
son of Simeon Van Horn<br>
Benjamin V Van Horn (1807 - 1893)<br>
son of George Van Horn<br>
Benjamin Van Horn (1848 - 1922)<br>
son of Benjamin V Van Horn<br>
William Benjamin Van Horn (1877 - 1957)<br>
son of Benjamin Van Horn<br>
Donald Eugene VanHorn (1923 - 2014)<br>
son of William Benjamin Van Horn<br>
