Bartolomaus Westphal (1520 - )<br>
12th great-grandfather<br>
Nikolaus Westphal (1545 - 1655)<br>
son of Bartolomaus 1520 Westphal<br>
Nicholas Jurian Westphalen (1560 - 1597)<br>
son of Nikolaus Westphal<br>
Nicholas Jurian Westphalen (1594 - 1655)<br>
son of Nicholas Jurian Westphalen<br>
Juriaen Westfall (1628 - 1667)<br>
son of Nicholas Jurian Westphalen<br>
Nicholas Claes Westfall Capt. (1657 - 1741)<br>
son of Juriaen Westfall<br>
Pieternella Westfall (1713 - 1776)<br>
daughter of Nicholas Claes Westfall Capt.<br>
Benjamin Schoonover (1741 - 1838)<br>
son of Pieternella Westfall<br>
Johanna Schoonover (1760 - 1813)<br>
daughter of Benjamin Schoonover<br>
Mary Smith (1787 - 1855)<br>
daughter of Johanna Schoonover<br>
Benjamin V Van Horn (1807 - 1893)<br>
son of Mary Smith<br>
Benjamin Van Horn (1848 - 1922)<br>
son of Benjamin V Van Horn<br>
William Benjamin Van Horn (1877 - 1957)<br>
son of Benjamin Van Horn<br>
Donald Eugene VanHorn (1923 - 2014)<br>
son of William Benjamin Van Horn
