     Nathaniel Wheeler (1677 - 1761)<br>
     7th great-uncle<br>
     Nathaniel WHEELER (1642 - 1726)<br>
     father of Nathaniel Wheeler<br>
     Samuel Wheeler (1678 - 1762)<br>
     son of Nathaniel WHEELER<br>
     Sarah Wheeler (1738 - 1811)<br>
     daughter of Samuel Wheeler<br>
     Dorcas Lindsley (1776 - 1823)<br>
     daughter of Sarah Wheeler<br>
     Catherine Tichenor (1805 - 1878)<br>
     daughter of Dorcas Lindsley<br>
     Eunice Catharine Hillyer (1839 - 1908)<br>
     daughter of Catherine Tichenor<br>
     Alice A. Clay (1860 - )<br>
     daughter of Eunice Catharine Hillyer<br>
     Daisy Laretta Hunt (1887 - 1962)<br>
     daughter of Alice A. Clay<br>
     Donald Eugene VanHorn (1923 - 2014)<br>
     son of Daisy Laretta Hunt<br>
