Ephraim WHEELER (1619 - 1670)<br />
10th great-uncle<br />
Thomas WHEELER (1574 - 1641)<br />
father of Ephraim WHEELER<br />
George Wheeler (1605 - 1687)<br />
son of Thomas WHEELER<br />
John Wheeler (1643 - 1713)<br />
son of George Wheeler<br />
Sarah Wheeler (1666 - 1692)<br />
daughter of John Wheeler<br />
ELIZABETH &ldquo;LIZZIE&quot; Williams (1700 - 1741)<br />
daughter of Sarah Wheeler<br />
Temperance Bailey (1719 - 1809)<br />
daughter of ELIZABETH &ldquo;LIZZIE&quot; Williams<br />
Levi Sholes I (1746 - 1835)<br />
son of Temperance Bailey<br />
Jonathan Sholes (1766 - 1826)<br />
son of Levi Sholes I<br />
John Cummings Sholes (1793 - 1859)<br />
son of Jonathan Sholes<br />
Wealthy Sholes (1839 - 1924)<br />
daughter of John Cummings Sholes<br />
Goldie Grace Reed (1884 - 1957)<br />
daughter of Wealthy Sholes<br />
Shirley Jean Bostick (1927 - 2010)<br />
daughter of Goldie Grace Reed
