Sweden <br>
Erik Eriksson (1497 - 1550)<br>
12th great-grandfather<br>
Peter Eriksson Van Schouwen (1527 - 1590)<br>
son of Erik Eriksson<br>
Cornelius Petersson Wyckoff (1560 - 1599)<br>
son of Peter Eriksson Van Schouwen<br>
Claes Cornelissen VanSchouwen Wyckoff (1597 - 1674)<br>
son of Cornelius Petersson Wyckoff<br>
Pieter Claesen Van Schouwen Wyckoff (1625 - 1694)<br>
son of Claes Cornelissen VanSchouwen (Wyckoff)<br>
Cornelius Pieterse Wyckoff (1656 - 1746)<br>
son of Pieter Claesen Van Schouwen Wyckoff<br>
Simon Cornelise Wyckoff (1683 - 1776)<br>
son of Cornelius Pieterse Wyckoff<br>
Gertrude Charity Wyckoff (1724 - 1784)<br>
daughter of Simon Cornelise Wyckoff<br>
Simeon Van Horn (1753 - 1821)<br>
son of Gertrude Charity Wyckoff<br>
George Van Horn (1787 - )<br>
son of Simeon Van Horn<br>
Benjamin V Van Horn (1807 - 1893)<br>
son of George Van Horn<br>
Benjamin Franklin VanHorn (1848 - 1922)<br>
son of Benjamin V Van Horn<br>
William Benjamin Van Horn (1877 - 1957)<br>
son of Benjamin Franklin VanHorn<br>
Donald Eugene VanHorn (1923 - 2014)<br>
son of William Benjamin Van Horn
