William Dulluttur Stark (1520 - 1571)<br />
12th great-grandfather<br />
William Auchenstarry Stark (1540 - 1616)<br />
son of William Dulluttur Stark<br />
John Stark (1565 - 1610)<br />
son of William Auchenstarry Stark<br />
Aaron Stark Sr. (1582 - 1660)<br />
son of John Stark<br />
Aaron Stark (1608 - 1685)<br />
son of Aaron Stark Sr.<br />
Aaron Stark (1650 - 1721)<br />
son of Aaron Stark<br />
Anna Stark (1684 - 1748)<br />
daughter of Aaron Stark<br />
DANIEL REED (1714 - 1814)<br />
son of Anna Stark<br />
Daniel Reed Jr. (1752 - 1840)<br />
son of DANIEL REED<br />
Ebenezer Reed (1774 - 1831)<br />
son of Daniel Reed Jr.<br />
Austin Brown Reed (1804 - 1852)<br />
son of Ebenezer Reed<br />
William Asa Reed (1829 - 1888)<br />
son of Austin Brown Reed<br />
Goldie Grace Reed (1884 - 1957)<br />
daughter of William Asa Reed<br />
Shirley Jean Bostick (1927 - 2010)<br />
daughter of Goldie Grace Reed
